.box{
    margin-top: 7rem;
}
.display{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
}
.works{
    grid-template-columns: repeat(3, max-content);
    gap: 3rem; 
    text-align: center;
}
.portfolio{
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.portfolio:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in;
}
.work__img{
    width: 100%;
}
.title{
    color: var(--theme-color);
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
    .blox{
        margin-top: 5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .box{
        margin-top: 6rem;
    }
}