@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --background-color: #FAFAFD;
    --text-color: #161925;
    --theme-color: #6C55E0;
    --shadow-color: #1619254d;
}
body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    padding-bottom: 3rem;
}
h1{
    font-size: 4.5rem;
    font-weight: bold;
}
h2{
    font-size: 3.8rem;
    font-weight: bold;
}
p{
    font-size: 1.1rem;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 0.5rem;
    padding-right: 10px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    padding-right: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    border-radius: 0.625rem;
    margin-right: 2rem;
}

/* NAVBAR */
.navbar{
    box-shadow: 0 2px 2px 0 var(--shadow-color);
}
a{
    text-decoration: none ;
    color: var(--text-color);
}
.nav-item{
    padding: 0em 1em;
    text-decoration: none;
    font: 1.25rem;
    position: relative;
    text-align: center;
}
a:hover{
    color: var(--theme-color);
    font-weight: bold;
}
nav a.active{
    color: var(--theme-color) ;
    font-weight: bold;
}
.brand{
    font-size: 1.25rem;
}
.brand:hover{
    color: var(--theme-color);
    font-weight: bold;
}

/* FOOTER */
.fixed-bottom{
    background-color: var(--background-color);
    box-shadow: 0 -2px 2px 0 var(--shadow-color);
}